<div class="container-fluid">
    <!-- Background image -->
    <div id="header" class="text-center bg-image">
      <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
        
            <h1 class="mb-3"><i class="fa-brands fa-guilded"></i> gathering!</h1>
            <h3 class="mb-3">Plataforma especializada en la organizacion, planificacion y control de reuniones empresariales</h3>
          </div>
        </div>
      </div>
    </div>
    <div id="flecha">
        <i class="fa-solid fa-angle-down"></i>
    </div>
  
    <!-- Background image -->
    <div class="clearfix">
      <img src="/assets/undraw_Calendar.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
      
      <h2>Organiza mejor el tiempo</h2>
      <p>
        Manda un aviso previo de las reuniones con informacion detallada de cada una. El participante sera notificado y podra tener a mano un calendario de las audiencias que tendra a futuro. Todo esto solo ingresando con su usuario y contraseña.
      </p>
    </div>
   
    <div class="clearfix">
      <img src="/assets/undraw_herramientas.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
      <h2>Herramientas variadas y utiles</h2>
      <p>
        Posee calendarios, graficos de torta, de barra, los documentos usados en las reuniones, un estudio estadistico de sus participaciones, busqueda avanzada y mucho mas!
      </p>
    </div>
  
  </div>
  
