
<div class="row container-fluid">
  <div id="inicio">
    <div  class="text-center">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3"><i class="fa-brands fa-guilded"></i> <br> Inicio Administrador</h1>
          <nav class="d-flex">
            <h6 class="mb-0">
              <a routerLink="/principal/Administrador" class="text-reset">Home</a>
              <span>/</span>
            </h6>
          </nav>
        </div>
      </div>                   
    </div>
    <div id="flecha">
      <i class="fa-solid fa-angle-down"></i>
    </div>         
    <div id="container-cards" class="d-flex align-items-start justify-content-center">
      <div class="col">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="/assets/undraw_Team.png" class="img-fluid"/>
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Empleados</h5>
            <p class="card-text">Gestion de empleados.</p>
            <button class="btn" (click)="GestionEmpleados()">Ir</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="/assets/undraw_Meeting.png" class="img-fluid"/>
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Reuniones</h5>
            <p class="card-text">Gestion de reuniones.</p>
            <button class="btn" (click)="RegistroReuniones()">Ir</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="/assets/undraw_Statistics.png" class="img-fluid"/>
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Estadisticas</h5>
            <p class="card-text">  
              Grafico de torta
              Grafico de barra
            </p>
            <button class="btn" (click)="Estadistica()">Ir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
            
